
.todos-lists{
    width: 100%;
    height: auto;
    border: 2px solid #764BA2;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    border-radius: 20px;
    background:linear-gradient(#764BA2 , #667EEA);
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.todo-update-input{
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    padding: 20px;
    background: linear-gradient(#667EEA,#764BA2)
}
.todo-update-button{
    margin-top: 10px;
    width: 30%;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    padding: 10px;
    background-color: blue;
}

.todos-title{
    font-size:30px;
}

.todo-buttons{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.delete{
    width: 50px;
    height: 50px;
    padding: 10px;
    background:linear-gradient(red , #667EEA);
    border: none;
    outline: none;
} 
.edit{
    width: 50px;
    height: 50px;
    padding: 10px;
    background:linear-gradient(green , #667EEA);
    border: none;
    outline: none;
}
 .complete{
    width: 50px;
    height: 50px;
    padding: 10px;
    background:linear-gradient(orange , #667EEA);border: none;
    outline: none;
}

